.pause-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 60px;
    height: 60px;
    font-size: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.pause-menu {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.9);
}
